<div class="row">
  <div class="col-sm-2 col-md-2"></div>
  <div class="col-sm-8 col-md-8">
    <h3 class="text-center">Complete List</h3>
    <div *ngIf="activeTable == 1" style="margin-top: 5%;">
      <table class="myTable">
        <thead>
          <tr>
            <th style="width:60px;">Sl.No</th>
            <th style="width:150px;">ProductName</th>
            <th style="width:100px;">ProductId</th>
            <th style="width:150px;">CategoryName</th>
            <th style="width:80px;">CategoryId</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of completeData | paginate: { itemsPerPage: 10, currentPage: p};let i = index;">
            <td style="width:60px;">{{i+1}}</td>
            <td style="width:150px;">{{data.productName}}</td>
            <td style="width:100px;">{{data.productId}}</td>
            <td style="width:150px;">{{data.categoryName}}</td>
            <td style="width:80px;">{{data.categoryId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <div *ngIf="activeTable == 1">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>

  <div class="col-sm-2 col-md-2"></div>
</div>