<div class="text-center topnav" style="background-color: lightgray">
    nimapinfotech</div>
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2 sidenav">

            <div>
                <a routerLink="">Categories</a>
            </div>
            <div>
                <a routerLink="/product">Products</a>
            </div>
            <div>
                <a routerLink="/list">ListDisplay</a>
            </div>

        </div>
        <div class="col-sm-10 col-xs-10 col-lg-10 col-md-10" style="margin-top: 10px">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>