
  .topnav{
    overflow: hidden;
    background-color: lightseagreen;
    height: 30px;
    font-family: 'Times New Roman';
    font-size: 25px;
    position: unset;
}

.sidenav {
  height: 100%;
  top: 0;
  left: 0;
  background-color:lightblue;
  overflow-x: hidden;
  font-family: 'Times New Roman';
  font-size: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: underline;
  font-size: 20px;
  color: black;
  
}

.sidenav a:hover {
  color:purple;
}

